{
  "semi": false,
  "useTabs": false,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "jsxSingleQuote": true,
  "arrowParens": "always",
  "printWidth": 80,
  "plugins": ["prettier-plugin-sort-imports"],
  "importOrder": ["^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
